@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* common shared style */
/* common shared style */
/* common shared style */
/* common shared style */


.work-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.shadow {
    border: 1px solid rgba(38, 243, 123, 0.226);
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);



}

.m-auto {
    margin: 0 auto;
}

.btn-primary {
    background-color: #FF900E;
    color: #FFF;

    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 14px 18px;
    border-radius: 8px;
    border: 0;
}

.btn-primary:hover {
    color: black;
    background-color: #FFF;
}

.display-flex {
    display: flex;
}

/* dark-1 */
.head-color {
    color: #131313;

}

/* dark-3 */
.para-color {
    color: #727272;
}

.para-style {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
    margin-top: 2px;
}

.bg-primary {
    background-color: rgba(255, 144, 14, 0.10);
}

main {
    max-width: 1340px;
    margin: 20px auto;
}

section {
    margin-top: 90px;
    max-width: 1030px;
    border: 1px solid rgba(0, 0, 0, 0.116);
    margin-left: auto;
    margin-right: auto;
}

.section-header {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 5px;

}


/* end of common shared style  */

/* header section styles */
header {
    max-width: 1340px;
}

.header-sec {
    display: flex;
    flex-direction: column;
    max-width: 1010px;
    margin: 0 auto;
    padding: 35px 0px;
}




/* nav related styles */
.nhead {
    font-size: 3rem;
    font-weight: 700;

}

.nitem {
    font-size: 1rem;
    font-weight: 500;
    list-style: none;
}

.nitem>a {
    text-decoration: none;
    color: #424242;
    margin-right: 20px;
}

nav {
    justify-content: space-between;
}

/* end of nav related styles  */
.banner {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 35px;

}


.bnr-head>h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 90%;
    margin-bottom: 0;

}

.bnr-img>img {
    max-width: 100%;
}

/* completed header section  */
/* start main section  */
/* start features section styles */

.teams {

    max-width: 1010px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(0, 0, 0, 0.103);
    padding: 10px;
    gap: 20px;

}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    gap: 10px;
}

.team-img-container img {

    height: 100%;
    width: 100%;
}

.our-features {
    /* margin: auto auto auto 100px; */
    width: 50%;
}

.our-features h3 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0;
}

/* end of team/features section  */
/* you-love-enjoy section styles started  */


.you-love-enjoy {
    padding: 10px;

}

.love-content {
    width: 40%;
    flex-direction: column;
    gap: 10px;
    padding-right: 50px;
}

.feacher-head {
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0;
}


.love-img {

    width: 60%;
}

.love-img img {
    width: 100%;
    height: 100%;
}

.shadow:hover {

    box-shadow: 0px 4px 30px 0px rgba(81, 194, 20, 0.664);
}

/* end of you love and enjoy feature  */
/* facts section styles started */
.facts {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.facts-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.facts-card {
    display: flex;
    align-items: center;

}



.card-header {
    color: #424242;
    text-align: center;
    font-size: 2.1rem;
    font-weight: 600;
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border: 1px solid rgba(128, 128, 128, 0.274);
    width: 25%;
    margin: 10px;

}

.card:hover {
    background-color: #ff8f0e48;
}


/* started sponser section style */
.sponser {
    display: flex;
    flex-direction: column;

}

.sponsor-des {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo {
    display: flex;
    justify-content: space-between;
    margin: 50px 15px;

}

footer {
    max-width: 1340px;
    padding: 40px;
    margin: 20px auto;
    text-align: center;
    color: #424242;
    font-size: 1rem;
}




@media screen and (max-width:576px) {

    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    /* ended responsive header styles */

    /* start responsive team/features section  */
    .teams {
        flex-direction: column;
        flex-direction: column-reverse;

    }

    .our-features {
        width: 100%;

    }

    .team-img-container {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    /* end of team features section  */
    /* start of you enjoy features section */

    .you-love-enjoy {
        flex-direction: column;

    }

    .love-content {
        width: auto;
        padding-right: 0;
    }

    .love-img {
        width: auto;
    }

    .facts-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid rgba(128, 128, 128, 0.274);
        width: auto;
        margin-right: 0;
        margin-left: 0;


    }
    /* sponsor details style  */


   
    
   
    
    
    .logo {
        display: flex;
        flex-wrap: wrap;
       align-items: center;
        justify-content: center;
        justify-content: space-around;

       
        
      
    
    }
    .logo img{
    
    }
    
    footer {
        max-width: 1340px;
        padding: 40px;
        margin: 20px auto;
        text-align: center;
        color: #424242;
        font-size: 1rem;
    }


}


@media screen and (min-width: 576px) and (max-width: 992px) {

    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .teams {
        flex-direction: column;
        flex-direction: column-reverse;

    }

    .our-features {
        width: 100%;

    }

    .team-img-container {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

  
    .you-love-enjoy {
       flex-direction: column;
    
    }
    
    .love-content {
        width: auto;
        padding-right: 0;
    }
    

    
    
    .love-img {
    
        width: auto;
    }
    

    






    .facts-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card {

        align-items: center;
        padding: 50px auto;
        border: 1px solid rgba(128, 128, 128, 0.274);
        width: auto;


    }



}